.control--down {
  display: block;
  width: 22px;
  height: 11px;
  margin: 0 auto;
  padding: 0;
  background: transparent;
  border: 11px solid transparent;
  outline: none;
  border-top: 11px solid #382013;
  border-bottom: none;
}
html,
body {
  margin: 0;
  padding: 0;
}
.layout-main {
  width: 1000px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.layout-center-wrapper {
  width: 760px;
  margin: 0 auto;
}
.sidebar {
  float: left;
  width: 180px;
}
.main {
  float: left;
  width: 580px;
}
.main__index-page {
  width: 400px;
}
.show-room {
  float: right;
  width: 180px;
}
.footer__column {
  float: left;
  width: 33.33333333%;
}
.form {
  position: fixed;
  display: none;
  box-sizing: border-box;
  padding: 10px 23px 13px;
  background: #efe9df;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px #382013;
}
.form__esc {
  position: absolute;
  width: 13px;
  height: 11px;
  top: 5px;
  right: 3px;
  background: url("../img/icon-esc.png") no-repeat center center;
  border: none;
}
.form__title {
  margin: 0 0 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-style: italic;
}
.form__label {
  display: block;
  margin-bottom: 10px;
  font-size: 16.2px;
  font-style: italic;
}
.form__label:last-of-type {
  margin-bottom: 20px;
}
.form__label--hint {
  font-size: 12.15px;
  color: #b5ac9c;
}
.form__field {
  width: 100%;
  height: 17px;
  background: #f8f8f7;
  border: none;
  outline-color: #6b5346;
}
.form__field--area {
  box-sizing: border-box;
  height: 105px;
}
.form__send {
  display: block;
  padding: 5px 0;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  width: 161px;
  margin: 0 auto;
  background: inherit;
  border: 1px solid #382013;
}
.form__send:hover {
  background: #fffaf0;
  box-shadow: 0 0 3px 0 #382013;
}
.form--callback {
  top: 50%;
  margin-top: -75px;
  left: 50%;
  margin-left: -157.5px;
  width: 315px;
}
.form--order_fixed {
  top: 50%;
  margin-top: -191.5px;
  left: 50%;
  margin-left: -290px;
  width: 580px;
}
.form--order_static {
  position: relative;
  display: block;
  border: 2px solid #382013;
  box-shadow: none;
}
.form--review {
  top: 50%;
  margin-top: -191.5px;
  left: 50%;
  margin-left: -290px;
  width: 580px;
}
.form__rating {
  position: absolute;
  top: 35px;
  right: 25px;
  cursor: pointer;
}
.form__rating input {
  display: none;
}
.form__rating #r1:checked ~ .form__rating-controls label[for="r1"] ~ label,
.form__rating #r2:checked ~ .form__rating-controls label[for="r2"] ~ label,
.form__rating #r3:checked ~ .form__rating-controls label[for="r3"] ~ label,
.form__rating #r4:checked ~ .form__rating-controls label[for="r4"] ~ label {
  background-image: url("../img/icon-star.png");
}
.form__rating-controls label {
  display: inline-block;
  width: 14px;
  height: 13px;
  background-image: url("../img/icon-star--on.png");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
body {
  background: #fffaf0;
  font-family: "Calibri", "Arial", sans-serif;
  font-size: 16px;
  color: #382013;
}
.layout-main {
  box-sizing: border-box;
  background: url("../img/bg-main.png");
  border-left: 2px solid #382013;
  border-right: 2px solid #382013;
  box-shadow: 0 0 15px 2px #382013;
}
.header {
  padding-top: 8px;
  margin-bottom: 10px;
}
.header__cap {
  position: relative;
  height: 139px;
  background: url("../img/bg-header.jpg") no-repeat center center;
}
.header__cap__logo {
  position: absolute;
  left: 50%;
  margin-left: -60px;
  top: 50%;
  margin-top: -60px;
  width: 120px;
  height: 120px;
  background: url("../img/logo.png") no-repeat center center;
}
.header__cap__contacts {
  float: right;
  margin-top: 4px;
  margin-right: 10px;
  padding: 5px 5px 10px 8px;
  background: #eae4da;
  opacity: .96;
  font-size: 17.82px;
}
.header__cap__contacts p {
  margin: 0;
  text-align: right;
}
.top-menu {
  background: #fff;
}
.top-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: center;
}
.top-menu ul li {
  position: relative;
  display: inline-block;
}
.top-menu ul li:not(:first-child):before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: -2px;
  width: 4px;
  height: 4px;
  background: #382013;
}
.top-menu ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.top-menu ul li a:hover {
  color: #145700;
}
.main-content {
  margin-bottom: 55px;
}
.sidebar__title {
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 27px;
  margin-bottom: 30px;
}
.sidebar__title:before,
.sidebar__title:after {
  content: "";
  display: inline-block;
  width: 39px;
  height: 2px;
  margin: 0 5px;
  background: #382013;
  vertical-align: middle;
}
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar__item {
  margin-bottom: 31px;
}
.sidebar__item:last-child {
  margin-bottom: 0;
}
.sidebar__item a {
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: center;
}
.sidebar__item a .sidebar__item--hover {
  display: none;
}
.sidebar__item a p {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.sidebar__item a:hover {
  color: #145700;
}
.sidebar__item a:hover img:first-child {
  display: none;
}
.sidebar__item a:hover .sidebar__item--hover {
  display: inline-block;
}
.main .info {
  margin-top: 27px;
  margin-bottom: 15px;
}
.main .info__title {
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 25px;
}
.main .info__title:before,
.main .info__title:after {
  content: "";
  display: inline-block;
  width: 96px;
  height: 2px;
  margin: 0 5px;
  background: #382013;
  vertical-align: middle;
}
.main .info .layout-info {
  height: 170px;
  padding-right: 5px;
  overflow: auto;
}
.main .info__text {
  font-style: italic;
  text-align: justify;
  font-size: 14px;
}
.main .info__text p {
  margin: 0;
}
.feedback {
  position: relative;
  padding: 15px 10px 20px 5px;
  background: #f8f6f2;
  background: rgba(255, 255, 255, 0.65);
}
.feedback__title {
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  margin-bottom: 5px;
}
.feedback__title:before,
.feedback__title:after {
  content: "";
  display: inline-block;
  width: 86px;
  height: 2px;
  margin: 0 5px;
  background: #382013;
  vertical-align: middle;
}
.feedback__item__author {
  float: left;
  margin-bottom: 1px;
  color: #145700;
}
.feedback__item__rating {
  float: right;
  font-size: 0;
}
.feedback__item__rating-point {
  display: inline-block;
  margin-left: 2px;
  width: 14px;
  height: 13px;
  background: url("../img/icon-star.png") no-repeat center center;
}
.feedback__item__rating-point--on {
  background: url("../img/icon-star--on.png") no-repeat center center;
}
.feedback__item__text {
  clear: both;
  margin: 0 0 20px;
  height: 80px;
  overflow: hidden;
  font-style: italic;
}
.feedback__control--up {
  display: block;
  width: 22px;
  height: 11px;
  margin: 0 auto;
  padding: 0;
  background: transparent;
  border: 11px solid transparent;
  outline: none;
  border-top: none;
  border-bottom: 11px solid #382013;
}
.feedback__control--down {
  display: block;
  width: 22px;
  height: 11px;
  margin: 0 auto;
  padding: 0;
  background: transparent;
  border: 11px solid transparent;
  outline: none;
  border-top: 11px solid #382013;
  border-bottom: none;
}
.feedback__write {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 5px 0;
  font-size: 14.84px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 125px;
  color: #145700;
  border: 1px solid #145700;
}
.feedback__write:hover {
  color: #589b44;
  box-shadow: 0 0 3px 0 #382013;
}
.show-room {
  padding-top: 25px;
  width: 165px;
}
.show-room__request,
.show-room__callback {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 5px 0;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  letter-spacing: -0.65px;
  word-spacing: -1px;
}
.show-room__request {
  margin-bottom: 8px;
  background: #145700;
}
.show-room__request:hover {
  background: #367922;
}
.show-room__callback {
  margin-bottom: 24px;
  background: #ffa800;
}
.show-room__callback:hover {
  background: #ffca22;
}
.show-room__new {
  width: 160px;
  margin: 0 auto 13px;
  padding-top: 85px;
  padding-bottom: 30px;
  background: url("../img/img-right.jpg") no-repeat center center;
  background-size: 100% auto;
}
.show-room__new-text {
  margin-bottom: 10px;
  padding: 15px 0 20px;
  background: #382013;
  opacity: .76;
  text-align: center;
  font-family: "Times New Roman", serif;
  font-size: 24px;
  color: #ffffff;
}
.show-room__new-box {
  padding: 12px 5px 10px;
  background: rgba(255, 255, 255, 0.46);
}
.show-room__new--gallery,
.show-room__new--order {
  display: block;
  color: #382013;
  text-transform: uppercase;
  font-size: 15.32px;
  letter-spacing: -0.65px;
}
.show-room__new--gallery:hover,
.show-room__new--order:hover {
  color: #145700;
}
.show-room__new--gallery {
  text-decoration: none;
  color: inherit;
  margin-bottom: 8px;
}
.show-room__gallery {
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  display: block;
  width: 160px;
  height: 142px;
  padding-top: 105px;
  margin: 0 auto;
  background: url("../img/icon-photo.png") no-repeat center 20px, url("../img/img-gallery.jpg") no-repeat center center;
  background-size: auto, 100% auto;
}
.show-room__gallery:hover > .show-room__gallery--text {
  background: #6b5346;
}
.show-room__gallery--text {
  padding: 4px 0;
  margin: 0 auto;
  background: #382013;
  text-align: center;
  text-transform: uppercase;
  color: #f9f7f3;
}
.footer {
  position: relative;
  background: url("../img/bg-footer.jpg") no-repeat center top;
  color: #f7f5f0;
}
.footer:before {
  content: "";
  position: absolute;
  top: -7px;
  width: 100%;
  height: 4px;
  background: #382013;
}
.footer__column {
  box-sizing: border-box;
  padding: 3px 30px 7px;
}
.footer__column--right {
  padding-right: 0;
}
.footer__menu {
  margin-bottom: 8px;
}
.footer__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__menu ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  text-transform: lowercase;
  line-height: 20px;
}
.footer__menu ul li a:hover {
  color: #e6d3bd;
}
.footer__signature {
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 20px;
}
.footer__request,
.footer__callback {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 5px 0;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  width: 165px;
  margin: 0 auto;
  background: #382013;
  letter-spacing: -0.65px;
  border: 1px solid #f7f5f0;
}
.footer__request:hover,
.footer__callback:hover {
  background: #6b5346;
}
.footer__request {
  margin-top: 15px;
  margin-bottom: 10px;
}
.footer__contacts {
  padding-top: 5px;
  margin-bottom: 25px;
  font-size: 17.82px;
  text-align: right;
}
.footer__contacts p {
  margin: 0;
}
.footer__copyright {
  text-align: right;
  font-size: 11px;
  line-height: 16px;
  color: #cecece;
}
.footer__copyright a {
  display: inline-block;
  width: 93px;
  height: 16px;
  background: url("../img/logo-artbrother.png") no-repeat center center;
  vertical-align: middle;
}
.main-content--gallery {
  margin-bottom: 35px;
}
.gallery {
  padding-top: 5px;
}
.gallery__control--up {
  display: block;
  width: 22px;
  height: 11px;
  margin: 0 auto;
  padding: 0;
  background: transparent;
  border: 11px solid transparent;
  outline: none;
  border-top: none;
  border-bottom: 11px solid #382013;
  margin-bottom: 10px;
}
.gallery__control--down {
  display: block;
  width: 22px;
  height: 11px;
  margin: 0 auto;
  padding: 0;
  background: transparent;
  border: 11px solid transparent;
  outline: none;
  border-top: 11px solid #382013;
  border-bottom: none;
  margin-top: 8px;
}
.gallery .gallery__box {
  margin: 0;
}
.gallery .gallery__box img {
  float: left;
  margin: 0 5px 6px 0;
  width: 190px;
  height: 135px;
}
.gallery .gallery__box img:nth-child(3n) {
  margin-right: 0;
}
.contacts {
  margin: 25px auto;
}
.contacts__title {
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 auto 10px;
}
.contacts__title:before,
.contacts__title:after {
  content: "";
  display: inline-block;
  width: 86px;
  height: 2px;
  margin: 0 5px;
  background: #382013;
  vertical-align: middle;
}
.contacts__box p {
  margin: 0;
  text-align: center;
  font-style: italic;
}
.feedback--review {
  background: none;
}
.feedback--review__write {
  position: static;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.65);
}
.feedback--review__item {
  margin-bottom: 30px;
}
.feedback--review__item:last-of-type {
  margin-bottom: 0;
}
.renovate__title {
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 30%;
}
.renovate__title:before,
.renovate__title:after {
  content: "";
  display: inline-block;
  width: 96px;
  height: 2px;
  margin: 0 5px;
  background: #382013;
  vertical-align: middle;
}
.renovate__item {
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 2px solid #382013;
}
.renovate__item:last-of-type {
  margin-bottom: 0;
}
.renovate__item-title,
.renovate__item-text {
  display: inline-block;
  vertical-align: middle;
}
.renovate__item-title {
  margin-bottom: 31px;
  margin-right: 4%;
  width: 25%;
  text-align: center;
}
.renovate__item-title:last-child {
  margin-bottom: 0;
}
.renovate__item-title p {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.renovate__item-text {
  box-sizing: border-box;
  width: 70%;
  padding-left: 5%;
  margin-bottom: 5px;
  font-style: italic;
  text-align: justify;
}
.renovate__item-text p {
  margin: 0;
}
.renovate__review {
  float: right;
  font-size: 14.84px;
  text-transform: uppercase;
  color: #145700;
}
.renovate__review:hover {
  color: #478a33;
}
.popup-show {
  display: block;
}
